@model site.Models.AtendimentoContato

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<br><br><br><br>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>
</div>
<div>
    <a class="botao" asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a class="botao" asp-action="Index">Voltar para a lista</a>
</div>
